doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav
        ul
          li
            a(href="/") Home
          li
            a(href="/about") About
          li
            a(href="/contact") Contact
    block shop
  section#wrapper
    block content
  footer
    p site design / logo © 2014 etj-records rev 2014.01.27.01